motoEnv.env
howToRun.md
motoex
project-interview.md
roadmap.md

# React/Node
web/node_modules/
web/dist/
static/dist/

static/uploads/*
!static/uploads/*/
static/uploads/*/*
!static/uploads/*/.gitkeep
